<!DOCTYPE html>
<html>
<head>
    <title>Duck David's Website</title>
    <link href="/static/formulario.css" rel="stylesheet" />
</head>
<body>
    <div class="duck">
        <img src="https://pngimg.com/d/rubber_duck_PNG52.png" />
    </div>
    {% if nome != "Ana" or senha != "123" %}
    Você precisa digitar uma senha válida para entrar no site:
    <p> Digite seu nome e senha para entrar: </p>
    <form action="{{ url_for('formulario') }}" method="POST">
    Qual seu nome? <input type="text" name="nome">
    <br>
    Qual sua senha? <input type="text" name="senha">
    <input type="submit">
    </form>
    {% else %}
    Parabéns, você digitou uma senha correta.
    {% endif %}
</body>
</html>