<!DOCTYPE html>
<html>
<head>
    <title>Duck David's Website</title>
    <link href="/static/index.css" rel="stylesheet" />
</head>
<body>
    <div class="duck">
        <img src="https://pngimg.com/d/rubber_duck_PNG52.png" />
    </div>

    <form action ="/upload" enctype="multipart/form-data" method="post">
        <div class="formgroup">
            <label>Olá {{username}}, faça upload do arquivo que deseja enviar</label>
            <input type="file" name="arquivo" id="arquivo">
        </div>
        <button class="btn-primary" type="submit">
            Enviar
        </button>
    </form>
</body>
</html>